# SSH configuration for multiple keys

# KTH
Host gits-15.sys.kth.se
	HostName gits-15.sys.kth.se
	User git
	IdentityFile ~/.ssh/id_ed25519_kth

# Personal
Host github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519_personal

# Areachica
Host bitbucket.org
	HostName bitbucket.com
	User git
	IdentityFile ~/.ssh/id_ed25519_areachica
