# This is Git's per-user configuration file.
[core]
	editor = nano
	excludesfile = ~/.dotfiles/git/.gitignore

[user]
	name = Pontus
	email = 52171526+psoder@users.noreply.github.com

[help]
	autocorrect = 25

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[includeif "gitdir:~/AreaChica/*"]
	[user]
		name = Pontus Söderlund
		email = pontus@areachica.se
